pyrogram
TgCrypto
py-tgcalls
python-dotenv
youtube_dl
youtube_search_python
youtube-dl
youtube_search
requests
aiohttp
aiofiles
asyncio
search_engine_parser
ffmpeg
Pillow
python-arq
future
psutil
wget
